/* */
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url('http://fonts.googleapis.com/css?family=Josefin+Sans');


body{
 font-family: Quicksand, Helvetica, Arial, sans-serif;
 font-size: 16px;
 font-weight: 300;
 line-height: 20px;
 color: #555555;
 background-color: #F3F3F3;
 margin: 0;
}

.cat { font-weight: 400; color: #444; }

.tooltip {
 border: 1px solid silver;
 background: #EEEEEE;
 display: none;
 padding: 5px;
}
.tooltip.open { display: block; }
div:hover > .tooltip { display: block; }

#bio {
  padding: 1em;
  background: #E0E0E0;
  border-top: 1px solid silver;
  border-bottom: 1px solid #FEFEFE;
}
#bio p { margin: 0; }
#bio ul li.wide { width: 98%; }

.short { display: none; }
.tab { display: none; }

.post-header .post-meta, .c { text-align: center; }

.koan { font-family: serif; font-size: 85%; }
.footnotes { border-top: 1px dotted #999; margin-top: 12ex; }


h1,h2,h3,h4,h5,h6{
 margin: 0;
 font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
 font-weight: bold;
}

p {
  margin: 0.25em 1em 1em 1em;
  word-wrap: break-word;
}
p.breaking {
 padding: 0.25em 0.5em;
 background: #FAFAFA;
 border-top: 1px solid silver;
 border-bottom: 1px solid silver;
}

img {
 border:0;
 width:auto;
 height:auto;
 max-width:100%;
 vertical-align:middle;
 -ms-interpolation-mode:bicubic;
}
a img { width: 16px; height: 16px; }

#bio ul, #bio ol, ul.post-list {
 clear:both;
 padding:0;
 margin: 0;
 list-style-type: none;
}
ul ul,ul ol,ol ol,ol ul { margin-bottom:0; }
li { line-height:20px; }

hr { clear:both; border: 1px dotted #999; }
.fl { float:left; margin-left:0.5em; }
.fr { float:right; margin-right:0.5em; }
.half { width: 12em; }
.b { font-weight: bold; }

h1 { font-size:36px; line-height:50px; font-weight:300;
     font-family: Quicksand, Helvetica, sans-serif;
     text-align: center; }
h2 { font-size:32px; line-height:32px; font-weight:400;
     margin-top: 0.5em; }
h3 { font-size:22px; line-height:32px; font-weight:400;
     padding-left: 0.5em; }

a { color: #3E86AA; text-decoration: none; font-weight: 500; }
a:hover { color: #33475F; text-decoration: underline; }
h3 a { font-weight: 700; }
li h4 { margin-top: 0.75em; }

#page { margin: 1em auto; }
.help { font-size: 90%; margin-top: 1px; padding-top: 1px; }

.content {
 margin: auto;
 width: 28em;
 clear: both;
}

/* responsive */
@media screen and (min-width:870px) {
 #bio {
  position:absolute;
  width: 180px;
  left: 0;
  top: 0;
  padding-top: 170px;
  background-position: 50% 10px; // top, center;
  background-repeat: no-repeat;
  background-image: url('/img/abelar_s_round.png');
 }

}

@media screen and (max-width:870px) {
 #bio {
  background-image: none;
  position: relative;
  padding: 0;
  min-height: 9.5em;
  width: 28em;
  margin: auto;
 }

 #bio .content {padding: 0 1em; width: 27em; }

 #bio h2 { display: none; }
 hr, h4 { display: none; }

 ul li {float:left; width: 12em;}

 .lng { display:none; }
 .tab { display: inline; }
}

@media screen and (max-width:500px) {
 #bio ul li { float:left; width: 46%; }
}

@media screen and (max-width:450px) {
 h2 { text-align: center; }
 .txt { display: none; }
 .short { display: inline; }
 p { margin: 0 0 0.5em 1em; }
 .half { width: 10em; margin: 0; }
 #bio, #bio .content { width: 100%; padding: 0.1em; }
 .content, .menu, .submenu { width: 100%; }
}

@media screen and (max-width:330px) {
 body p {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 0 0.5em 0.25em;
 }

 .sgs3 { display:none; }
}

/* lists */
ul.post-list { font-size: 90%; }
ul.post-list li, .post-header .post-meta { 
	clear: both; width: 90%;
	margin: 0 4.5% 1em 4.5%; // padding: 0.5em;
	border-bottom: 1px dotted #999;
	border-top: 1px solid #F3F3F3;
}
ul.post-list h3 { float: left; }
ul.post-list li p { clear: both; font-size: 90%; }
ul.post-list .post-meta { float: right; padding: 0.5em 0.25em 0 0; }
ul.post-list .tagline {
	clear:both;
	padding: 0; margin: 0;
	text-align: right; color: #888;
}


/* hovers */
ul.post-list:hover .post-meta { color: #000; }
.menu, ul.post-list li:hover {
        color: #333;
	border-top: 1px solid #6ED6FA;
	border-bottom: 1px solid #99EEFF;
	background: #CEF; }

.menu { text-align: center; color: #A5A5A5; }
.submenu { background: #DEF; border-top: none; }

.menu a { display: inline-block; width: 13%; margin: 0 auto; padding: 3px; }
.menu a:hover { background: #6ED6FA; text-decoration: none; }
.menu a.active { background: #8EE6FF; }
.submenu a { width: 17%; }

a.ext:hover { background: white; text-decoration: underline; }

blockquote { border-left: 3px solid #CCC; }

/*
.left-push { transform: translateX(-12rem); transition: 250ms; }
.left_page { transform: translateX(0); }
.left_page ~ .page-wrap { transform: translateX(12rem); transition: 500ms; }

.lp .page { top: 0; left: 0; height: 100%; transform: translateX(-100%); opacity: 0; }
.lp .main { transition: 500ms; transform: translateX(0); }
.lp:hover .page, .lp:active .page { transform: translateX(0); opacity: 1; }
.lp:hover .main, .lp:active .main { transform: translateX(100%); }
*/
