@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url('http://fonts.googleapis.com/css?family=Josefin+Sans');

body{
 font-family: Quicksand, Helvetica, Arial, sans-serif;
 font-size: 16px;
 font-weight: 300;
 line-height: 20px;
 color: #555555;
 background-color: #F3F3F3;
 margin: 0;
}

.tooltip {
 border: 1px solid silver;
 background: #EEEEEE;
 display: none;
 padding: 5px;
}
div:hover > .tooltip { display: block; }

#bio {
  padding: 1em;
  background: #E0E0E0;
  border-top: 1px solid silver;
  border-bottom: 1px solid #FEFEFE;
}
#bio p { margin: 0; }
#bio ul li.wide { width: 98%; }

.short { display: none; }
.tab { display: none; }

#friends .tooltip { height: 7.5em; margin-bottom: 1em; }

h1,h2,h3,h4,h5,h6{
 margin: 0;
 font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
 font-weight: bold;
}

p {
  margin: 0.25em 1em 1em 1em;
  word-wrap: break-word;
}
p.breaking {
 padding: 0.25em 0.5em;
 background: #FAFAFA;
 border-top: 1px solid silver;
 border-bottom: 1px solid silver;
}

img {
 border:0;
 width:auto;
 height:auto;
 max-width:100%;
 vertical-align:middle;
 -ms-interpolation-mode:bicubic;
}
a img { width: 16px; height: 16px; }

ul,ol {
 clear:both;
 padding:0;
 margin: 0;
 list-style-type: none;
}
ul ul,ul ol,ol ol,ol ul { margin-bottom:0; }
li { line-height:20px; }

hr { clear:both; }
.fl { float:left; margin-left:0.5em; }
.fr { float:right; margin-right:0.5em; }
.half { width: 10em; }
.b { font-weight: bold; }

h1 { font-size:36px; line-height:50px; font-weight:300;
     font-family: Quicksand, Helvetica, sans-serif;
     text-align: center; }
h2 { font-size:32px; line-height:32px; font-weight:400;
     margin-top: 0.25em; }
h3 { font-size:22px; line-height:32px; font-weight:400;
     padding-left: 0.5em; }

a { color: #3E86AA; text-decoration: none; font-weight: 500; }
a:hover { color: #33475F; text-decoration: underline; }
h3 a { font-weight: 700; }
li h4 { margin-top: 0.75em; }

.content {
 margin: auto;
 width: 28em;
 clear: both;
}

@media screen and (min-width:870px) {
 #bio {
  position:absolute;
  width: 180px;
  left: 0;
  top: 0;
  padding-top: 170px;
  background-position: 50% 10px; // top, center;
  background-repeat: no-repeat;
  background-image: url('img/abelar_s_round.png');
 }
 #bio .content { width: 100%; }
}

@media screen and (max-width:870px) {
 #bio {
  background-image: none;
  position: relative;
  padding: 0.25em;
  min-height: 9.5em;
  width: 98%;
  margin: auto;
 }

 #bio h2 { display: none; }
 hr, h4 { display: none; }

 ul li {float:left; width: 12em;}

 .lng { display:none; }
 .tab { display: inline; }
}

@media screen and (max-width:500px) {
 #bio ul li { float:left; width: 47%; }
 .content { width: 98%; }
}

@media screen and (max-width:450px) {
 .txt { display: none; }
 .short { display: inline; }
 p { margin: 0 0 0.5em 1em; }
}

@media screen and (max-width:330px) {
 body p {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 0 0.5em 0.25em;
 }

 .sgs3 { display:none; }
}
